{% comment %}These are the headers, which are included only if the page has them. There's a weird bug for the homepage that forces it to have a title, thus the unless statement...{% endcomment %}
  <header>
    {% for each in site.data.hero-images %}
      {% if page.trans == each.trans %}
  {% if fr %}
    {% assign alt = each.alt-fr %}
    {% if each.img-fr %}
      {% assign hero-img = "/assets/images/" | append: each.img-fr %}
    {% else %}
      {% assign hero-img = "/assets/images/" | append: each.img %}
    {% endif %}
  {% else %}
    {% assign alt = each.alt-en %}
    {% assign hero-img = "/assets/images/" | append: each.img %}
  {% endif %}

<div class="base-wrapper narrow-p" style="background-image:url('{{ hero-img }}450.webp');">
  <div class="parallax-container">
    <div class="wrapper" >
            {% unless page.trans == "index" %}{% if page.title %} <h1 class="header foreground__image">{{ page.title }}</h1>{% endif %}
      {% if page.description %}<h2 class="header middle__image">{{ page.description }}</h2>{% endif %}{% endunless %}    </div>
  </div>
</div>
<div class="base-wrapper wide-p" style="background-image:url('{{ hero-img }}.webp');">  <div class="parallax-container">
    <div class="wrapper" >
      {% unless page.trans == "index" %}{% if page.title %} <h1 class="header foreground__image">{{ page.title }}</h1>{% endif %}
      {% if page.description %}<h2 class="header middle__image">{{ page.description }}</h2>{% endif %}{% endunless %}
    </div>
  </div>
</div>
      {% endif %}
    {% endfor %}
  </header>
