{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
{% for sitey in site.data.jcm.live %}
  {% assign en_link = sitey.en %}
  {% assign fr_link = sitey.fr %}
{% endfor %}
{% if fr %}{% assign trans_link = en_link %}{% else %}{% assign trans_link = fr_link %}{% endif %}

  <!-- this header vanishes on small screens. I use liquid code to change the language of the header depending on the page language -->
    <div id="social-media">{% for each in site.data.navigation.social-media %}<a class="sm-link" href="{{ each.link }}" id="{{ each.name }}" aria-label="{{ each.name }}" target="blank" rel="noopener"><p>{{ each.icon }}</p></a>{% endfor %}
  <!-- Language changer button -->
  {% if page.trans %}
  {% if fr %}{% assign otherlang = "en" %}{% elsif page.lang == "en" %}{% assign otherlang = "fr" %}{% endif %}
  {% assign otherurl = nil %}
	{% for each in site.pages %}
        {% if each.trans == page.trans and each.lang == otherlang %}{% assign otherurl = each.url %}{% endif %}
        {% endfor %}
  {% unless otherurl %}
	{% for each in site.posts %}
        {% if each.trans == page.trans and each.lang == otherlang %}{% assign otherurl = each.url %}{% endif %}
	{% endfor %}
  {% endunless %}
  {% if otherurl %}
			     <!-- language changer button, which flip animation -->
  <a class="sm-link" id="response" title="{% if fr %}View this page in English{% elsif page.lang == "en" %}Voir cette page en français{% endif %}" onclick="flipIcon()"><i id="flippy" class="fas fa-random"></i>&nbsp; {% if fr %}English{% elsif page.lang == "en" %}Français{% endif %}</a>
  <a href="{{ trans_link }}{{ otherurl }}" id="flippy2" {% if page.trans == "search" %}class="searchy" {% endif %}style="display: none;"></a>
  {% endif %}
  {% endif %}
</div>
    <div id="wideheader">
  <!-- I put a few animations in for specific pages, just to make the site a bit more playful -->
     <div style="overflow: hidden;">
       <a href={% if page.lang =="fr" %}"/accueil"{% else %}"/home"{% endif %}>
     <!-- top header -->
			     <!-- Old logo (desktop)-->
     {% comment %}<img class="noback {% for each in site.header_animation %}{% if page.trans == each.trans %} {{ each.animation }} {% endif %}{% endfor %} " alt="CJM logo with birds" src="/assets/images/CJM-JCM-Logo-2-300x80.png" height="80px" width:"300px">{% endcomment %}
			     <!-- New logo (desktop)-->
     <img class="noback {% for each in site.header_animation %}{% if page.trans == each.trans %} {{ each.animation }} {% endif %}{% endfor %} " alt="CJM logo with drills" src="/assets/images/CJM-JCM-new-Logo_side.avif" height=300>
     </a>

        </div>
     </div>
<div style="position:relative;">
	<!-- For some reason the sticky header had been jumping early, so I added a microscopic special div to prevent this -->
	<div id="special">&nbsp; </div>
	<!-- Narrowheader refers what the header looks like on a narrow screen -->
  <div id="narrowheader" class="">
			     <!-- Old logo (mobile)-->
	{% comment %}  <a title="Home" href={% if page.lang =="fr" %}"/accueil"{% else %}"/home"{% endif %}><img alt="CJM logo with birds" class="{% for each in site.mobile_bird %}{% if page.trans == each.trans %}{{ each.animation }} {% endif %}{% endfor %}" src="/assets/images/CJM-JCM-Logo-2-300x80.png" height="80px" width:"300px"></a> {% endcomment %}
			     <!-- New logo (mobile)-->
			     <a title="Home" href={% if page.lang =="fr" %}"/accueil"{% else %}"/home"{% endif %}><img alt="CJM logo with drills" class="{% for each in site.mobile_bird %}{% if page.trans == each.trans %}{{ each.animation }} {% endif %}{% endfor %}" src="/assets/images/CJM-JCM-new-Logo_side.avif" height="75"></a>
  </div>
</div>

<div class="navbar" id="myNavbar">
  <a title="Dropdown menu" class="icon" onkeypress="respondBar()" onclick="respondBar()"><i class="fas fa-bars"></i></a>
  <a id="widehome" aria-label="Home" alt="Home" title="Home" class="{% case page.url %}{% when '/' or '/index' or 'index-fr' or '/accueil' or '/home' %}active{% endcase %}"  href="/{% if fr %}accueil{% else %}home{% endif %}" title="{% if fr %}Accueil{% else %}Home{% endif %}"> <i class="fas fa-home fa-lg" alt="{% if fr %}Accueil{% else %}Home button{% endif %}" style="padding=0;"></i></a>
	<a id="narrowhome" title="Home" class="{% case page.url %}{% when '/' or '/index' or '/index-fr' or '/accueil' or '/home'%}active{% endcase %}"  href="/{% if fr %}accueil{% else %}home{% endif %}" title="{% if fr %}Accueil{% else %}Home{% endif %}">{% if fr %}Accueil{% else %}Home{% endif %} &nbsp;<i class="fas fa-home" style="padding=0;"></i></a>
         {% assign counter = 0 %}
	  {% if fr %} {% assign doclist = site.data.navigation.fr %}{% else %} {% assign doclist = site.data.navigation.en %}{% endif %}
	  {% for item in doclist %} 
		{% if item.submenu != nil %}
		{% assign counter = counter | plus: 1 %}
  <div class="dropdown">
	  <button {% if item.hovertitle %}title="{{ item.hovertitle }}" {% endif %}onclick="responsiveClick('dropdown{{ counter }}')" onkeypress="responsiveClick('dropdown{{ counter }}')" class="dropbtn" {% if item.hovertitle %}title="{{ item.hovertitle }}"{% endif %} ><i class="fa fa-caret-right"></i> &nbsp;{{ item.title }}{% if item.icon %} &nbsp;{{ item.icon }}{% endif %}
    </button>
    <div class="dropdown-content" id="dropdown{{ counter }}">
	    {% for subitem in item.submenu %}{% assign realurl = page.url | url_decode %}
	    <a href="{{ subitem.sublink }}" {% if subitem.subhovertitle %}title="{{ subitem.subhovertitle }}"{% endif %}{% if subitem.sublink == realurl %}class="active"{% endif %}>{% if subitem.subicon %}{{ subitem.subicon }}{% endif %} {{ subitem.subtitle }}</a>
         {% endfor %}
    </div>
  </div>
  {% endif %}
		{% if item.submenu == null %}

		<a href="{{ item.link }}" {% if item.hovertitle %}title="{{ item.hovertitle }}"{% endif %} {% if item.link == page.url %}class="active"{% endif %}>{{ item.title }} &nbsp;{{ item.icon }}</a>
		{% endif %}
  {% endfor %}
  <div class="search-container">
	    <button title="{% if fr %}Ouvrir le champ de recherche{% else %}Search open{% endif %}" aria-label="{% if fr %}Ouvrir le champ de recherche {% else %}Search tray open{% endif %}" id="unfold" class="show" onkeypress="unfoldSearch()" onclick="unfoldSearch()"><i class="fas fa-search"></i></button>
	  <form id="formy" title="{% if fr %}Formulaire de recherche{% else %}Search form{% endif %}" aria-label="{% if fr %}Formulaire de recherche{% else %}Search form{% endif %}class="" action="/search-{% if fr %}fr{% else %}en{% endif %}/">
	    <button title="{% if fr %}Bouton de recherche{% else %}Search button{% endif %}" aria-label="{% if fr %}Soumettre la recherche{% else %}Search submit button{% endif %}" id="searchsubmit" class="hide" type="submit"><i class="fas fa-search"></i></button>
	    <input title="{% if fr %}Texte de recherche{% else %}search text{% endif %}" id="inputsearch" aria-label="{% if fr %}Texte de recherche{% else %}Search text{% endif %}" type="search" class="input_hide" onfocusout="foldSearch()" placeholder="{% if fr %}Recherchez...{% else %}Search...{% endif %}" autocomplete="off" name="q">
    </form>
  </div>
</div>
