{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
{% assign two_years = 'now' | date: "%Y" | minus: 2 %}
{% assign posty = site.posts %}
{% if page.feat_resource %}
<div class="diamond-grid">
  {% for item in site.data.slideshow.files %}
    {% if page.feat_resource == item.filename %}
  <div class=left>
    <h3>{% if fr %}Ressource vedette{% else %}Featured Resource{% endif %}</h3>
    <hr><br>
    <div>
      <a href="https://drive.google.com/file/d/{{ item.gkey }}/view?usp=sharing" target="_blank" rel="noopener">
         {% assign realfile = site_link | append: item.px700 %}
        {% include picture.html basename=realfile type="webp" alt=item.name class=img_center %}
      {% comment %}"300" height="700"{% endcomment %}
      </a>
    </div>
    <div>
      {% if fr %}Téléchargez{% else %}Download{% endif %} <a href="https://drive.google.com/file/d/{{ item.gkey }}/view?usp=sharing"><i>{{ item.name }}</i></a></p>
    </div>
      {% endif %}
    {% endfor %}
{% endif %}
  </div> 
  <div class=right>
  {% for post in posty | where_exp: "item","item.post.date | date: "%Y" > two_years" %}
  {% assign postyear = post.date | date: "%Y" | plus: 0 %}
  {% assign yeargo = nil %}
  {% if postyear > two_years %}{% assign yeargo = true %}{% endif %}
  {% for each in post.tags %}{% if post.lang == page.lang and yeargo and each contains page.trans or each contains page.gt %}{% assign go = true %}{% endif %}{% endfor %}
    {% if go %}
    {% assign post_counter = post_counter | plus: 1 %}
      {% if post_counter == 1 %}   
        <h3><a href="/{% if fr %}nouvelles">Nouvelles{% else %}posts">What's New{% endif %}</a></h3>
        <hr><br>
      {% endif %}
      {% if post_counter == 4 %}{% break %}{% endif %}

  {% comment %}All this code is just to assign the date properly in French{% endcomment %}
  {% if fr %}
      {% capture date_cap %} {{ post.date | date: "%-d" }} {% assign m = post.date | date: "%-m" %}
      {% case m %}
        {% when '1' %}janvier {% when '2' %}février {% when '3' %}mars {% when '4' %}avril {% when '5' %}mai {% when '6' %}juin {% when '7' %}juillet {% when '8' %}août {% when '9' %}septembre  {% when '10' %}octobre {% when '11' %}novembre  {% when '12' %}decembre
      {% endcase %}
      {{ post.date | date: "%Y" }}
      {% endcapture %}{% assign datey = date_cap %}
    {% else %}
  {% assign datey = post.date | date: "%B %-d, %Y" %}
  {% endif %}
{% comment %}Below is the actual code creating the list{% endcomment %}

      <a href="{{ post.url }}" title="{{ post.title }}"><h3>{{ post.title }}</h3></a>
      <p>{{ datey }}</p>
     {{ post.excerpt }}
    <a href="{{ post.url }}">Read more...</a>
      {% assign go = false %}
    {% endif %}
  {% endfor %}
  </div>
</div>
{% for item in site.data.slideshow.slideshow %}
  {% if page.trans == item.trans %}
<div>
  <h3>{% if fr %}Tous les matériels{% else %}All Materials{% endif %}</h3>
    <hr><br>
  <div class="material-grid">
    {% for subitem in item.resources %}
  <div class="material-cell">
    {% for file in site.data.slideshow.files %}
       {% if file.filename == subitem.post %}
    <div>
      <a href="https://drive.google.com/file/d/{{ file.gkey }}/view?usp=sharing" target="_blank" rel="noopener">
         {% assign realfile = site_link | append: file.px300 %}
         {% if file.type == "jpg" %}{% assign realtype = file.type %}{% else %}{% assign realtype = "webp" %}{% endif %}
        {% include picture.html basename=realfile type=realtype alt=file.name class=img_center %}
      {% comment %}width="300" height="300"{% endcomment %}
      </a>
    </div>
    <div class="material-cell-desc">
      {% if fr %}Téléchargez{% else %}Download{% endif %} <a href="https://drive.google.com/file/d/{{ file.gkey }}/view?usp=sharing"><i>{{ file.name }}</i></a>
    </div>
  </div>
    {% endif %}
    {% endfor %}
  {% endfor %}
</div>
  {% endif %}
{% endfor %}
</div>
