@import "font";
@import "variables";

$color-1: #F0F0F0;
$color-1-light: #F0F0F0;
$color-1-dark: #CACACA;
$color-active: darken($color-1,6%);
$body-font-size: 17px;
$body-color:  #F0F0F0;
$body-color-text: #333333;
$header-color-text: #333333;
$nav-color-text: #333333;
$nav-bg-color: #fff;
$header-font-size: 180%;
$redalert-color:  #bf5608; // tried #ce570d;
$redalert-text-color: white;
$redalert-link-color: white;
$greenalert-color: #163b64;
$greenalert-text-color: white;
$greenalert-link-color: white;
$nav-font-size: 1em;
$font-mono: "Courier New", Courier, monospace; 
$font-sans: "Source Sans Pro", Helvetica, Arial, sans-serif; // "Source Sans Pro",
$font-serif: Bitter, Georgia, serif; // "IM Fell English", "Oswald", "Playfair Display",
$serif-spacing: 1.5px;
$text-width: 50em; //Sets the width of the text on the page
$search-colour: #2C768A;
$search-colour-hover: #6E86A8;
$header-colour-foreground: #ffffff;
$header-colour: #345A92;
