---
---
@import "colors.scss";
$mob-pixels: {{ site.breakpoint }};
$verynarrow: {{ site.verynarrow }};

// Remove underline under links
#linkoff,#narrowheader,a#wideheader,#nolink,.navbar a {
	&,&:link,&:visited,&:hover {
    text-decoration: none;
    }
}

// These lines style both wide and narrow versions of the site

#social-media {
  display: flex;
  justify-content: flex-end;
  background-color: $color-1;
  padding: 0px 4px;
  a {
    color: $header-colour;
    padding: 5px 10px;
    &#facebook {padding: 5px 12px;}
    &:hover {
      color: white;
      {% for each in site.data.navigation.social-media %}
      &#{{ each.name }} {
          background-color: #{{ each.color }};
        }
      {% endfor %}
      &#response {
        background-color: #000000;
        cursor: pointer;
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}

a.sm-link:not(:first-child) {
   border-left-style: solid;
   border-color: #333333;
   border-width: 0.25px;
}

.navbar {
  overflow: hidden;
  z-index: 500;
  width:100%;
  font-family: $font-sans;
//  font-weight: bold;
  #response {cursor:pointer}
  a,#response,button,.search-container {
    display: block;
    padding: 14px 11px;
   //   color: $header-colour;
    text-align: center;
    font-family: $font-sans;
    font-size: $nav-font-size;
 //   font-weight: bold;
    white-space: nowrap;
  }
  a {
    &.active {
      background-color: $color-active;
      color: $nav-color-text;
    }
    &:hover {
      background-color: $color-1-dark;
      color: black;
    }
  }
  .icon {
     display: none;
   }
   
  // widescreen search
  .search-container {
    display: flex;
    justify-content: flex-start;
    // max-width: 100%;
    align-items: center;
    margin: 0px 0 0;
    padding: 0;

    button {
     flex: 0 0 auto;
     padding: 14px;
   //  margin-right: 4px;
   //  background-color: $color-1-light;
     // color: $header-colour;
     // font-size: 1em;
     border: none;
     transition: 0.3s;
     cursor: pointer;
     &:hover {
       background-color: $color-active; 
     }
    }
  }

  input[type=search] {
    width: 1px; 
    font: {
      family: $font-sans;
      size: 1em;
      weight: normal;}
    flex: 1 1 auto;
    padding: 15.25px 10px;
    border: none;
    margin: 0;
    outline: none;
    transition: width 0.4s ease-in-out;
   }
}

.dropdown {
  float: left;
  overflow: hidden;
   .dropbtn {
      display: block;
      border: none;
      outline: none;
      // color: $header-colour;
      font: {
        size: $nav-font-size;
        family: $font-sans;
        family: inherit;
        //weight: bold;
      }
      padding: 14px 9px;
      //background-color: rgba(0,0,0,0);
      background-color: $color-1;
      margin: 0;
    }
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 500;
  a  {
    float: none;
    color: $nav-color-text;
    display: block;
    padding: 12px 14px;
    text-align: left;
    background-color: $color-1;
  }
}

// WIDE screen
@media screen and (min-width: $mob-pixels) {
 #wideheader * {
    margin: 0px;
    background-color: $color-1;
    text: {
      align: center;
      decoration: none;}
    white-space: nowrap;
    vertical-align: middle;
    background-color: $color-1;
    font: {
      family: $font-serif;
      size: $header-font-size;}
    // letter-spacing: $serif-spacing;
    color: $header-color-text;
    position: relative;
    padding:20px 30px;
  }
  
  .noback {
	  background-color: transparent !important;
  }

 #widehome {
    text-align: left;
    color: $header-colour;
    position: relative;
    text-decoration: none;
 }
 #narrowhome,#narrowheader,.icon_right {
     display: none;
 }

  .navbar {
    display: flex;
    justify-content: center;
    background-color: $color-1;
    a {
      text-align: center;
      color: $header-colour;
      display: block;
      justify-content: center;
    }
    button {
      color: $header-colour;
    }
     input[type=search] {
      &.input_narrow {width: 1px}
      &.input_hide {visibility: hidden}
      &.input_show {
        width: 210px; 
        visibility: visible;
      }
    }
    &.sticky > a:hover {
      background: $color-1;
    }
  }
  #unfold {transition: .4s}
  
  #special {
    font-size: .00000001em;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: $color-1;
  }

 .dropdown {
    &:hover .dropdown-content {
        display: block;
    }
    &:hover i:nth-of-type(1):before {
      content: "\f0d7";
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      //padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      margin: 0 0 0 -4px;
    }
  }

 .show {display: inline !important;}
 .hide {display: none !important;}

  // Sticky navbar start
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: $color-1;
    animation-name: change;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }
  
  .sticky + {
      .container-alert,.stickystart { 
  	padding-top: 54px;
       }
   }
  .sticky .search-container #unfold {
     background: $color-1-dark;
  }
   .navbar.sticky .dropdown-content {
       position: fixed;
       background: $color-1-dark;
       a:hover {
         background: $color-1;
         color: black;
       }
   }

   .navbar.sticky .dropdown  .dropbtn {
       background: $color-1-dark;
       transition: .3s;
   }

  .navbar.sticky .dropdown .dropdown-content {
	  a {
	       background: $color-1-dark;
	       transition: .3s;
		  &:hover {
		       background: $color-active;
		  }
	  }
  }
  
  // Keeping page anchors in the right place
  .scroll_anchor{scroll-margin: 60px 0 0 0;}
  .stanchor {
    position: relative;
       a {
          position: absolute;
          left: 0px;
          top: -60px;
        } 
   }

  .change_color {
    animation-name: change;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }
  
  .return_color {
    background: $color-1;
    animation-name: return;
    animation-duration: .25s;  
    animation-fill-mode: forwards;
  }
}

// NARROW screen
@media screen and (max-width: $mob-pixels - 1) {
  .navbar {
  // justify-content: space-between;
	  a,#response,input[type=search],.search-container {
     display: none;
      }
     }
  #wideheader,#widehome,#narrowhome,#special,#searchsubmit,#unfold,.dropdown .dropbtn  {
     display: none;
  }
  #narrowheader {
     position: absolute;
     left: 50%;
     font: {size: $nav-font-size;
       family: $font-serif;}
     // letter-spacing: $serif-spacing;
     transform: translate(-50%, 0%);
     background-color: transparent;
     color: $nav-color-text;
     white-space: nowrap;
     a { 
       height:0;width:0;
       img {
         padding: 12px;
       }
     }
   }
   #nolink {
     color: $nav-color-text;
     padding: 0;
     font-size: $header-font-size;
   }

   .icon_right {
     display: block;
     text-decoration: none;
     z-index: 600;
   }
   .navbar {
     background-color: $color-1;
     a:hover,a.active {
       background-color: darken($color-1,5%) !important;
     }
     & > .icon_right > a {
	   padding: 12.5px 12px 9px;
     }
    .icon {
      font-size: $header-font-size;
      float: left;
      color: $header-colour;
      display: block;
      cursor: pointer;
      padding: 30px 15px;
     &:hover {
        background-color: $color-1;
      }
     &_right a {
       float: right;
       display: block;
      }
     }
   &.responsive {
      position: relative;
       .icon {
          position: relative;
          right: 0;
          top: 0;
         &_right {
	   display: none;
         }
       }

      a {
        float: none;
        display: block;
        text-align: left;
      }
      .dropdown {
         float: none;
          .dropbtn {
            display: block; 
            width: 100%;
            text-align: left;
            cursor: pointer;
	    //color: #333;
          }
       &-content {
         position: relative;
         background:lighten($color-1-dark,10%); 
         //padding: 0 0 0 15px;
         text-indent: 0.8em;
         &:before {
//           content: &emsp;
         }
       }
      }
    // This is all still under .navbar.responsive
    input[type=search], .search-container, #response, #narrowhome {
      float: none;
      color: $nav-color-text;
      display: block;
      text-align: left;
      flex: 1 0 auto;
      width: 100%;
      border-radius: 0;
      margin: 0;
      padding-top: 14px;
      padding-bottom: 14px;
    }
    input[type=search] {
      border: 1px solid #ccc;
      -webkit-appearance: none;
      -moz-appearance:none;
//      width: 98%;
    }
   }
  }
  // the goal of this code is to require a click to open a submenu in responsive mode
  .show_block {display:block;}
   #formy {flex: 1 0 210px;}
}
// @media screen and (max-width: $verynarrow) {
// 	#narrowheader {
// 		font-size: 80vw;
// 	}
// }
// end of narrowheader

// Breadcrumb menu

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: $color-active;
  margin: 0;
}
ul.breadcrumb li {
  display: inline;
  //font-size: $body-font-size;
  font-family: $font-sans;
  font-size: $nav-font-size;
  font-weight: bold;
  color: white;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: white;
  text-decoration: underline;
}
ul.breadcrumb li a:hover {
  text-decoration: none;
}

// animations
  
@keyframes return {
  from {background-color: $color-1-dark;}
  to {background-color: $color-1;}
  }

@keyframes change {
  from {}
  to {background-color: $color-1-dark;}
 }

.focustext {
  @include animation(text-focus-in 1.0s cubic-bezier(0.550, 0.085, 0.680, 0.530) -.40s both);
}
.roll_bird1 {
      @include animation(roll-in-left 1.0s ease-out -0.4s both);
}
.roll_bird2 {
      @include animation(roll-in-right 1.0s ease-out -0.4s both);
}
.swing-in1 {
       @include animation(swing-in-top-fwd 1.0s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.40s both);
 } 
 .land_left_flip {
   @include twoanimations(tilt-in-tl 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.20s both, flip-vertical-left 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s reverse forwards);
 }
 .land_right {
       @include animation(tilt-in-fwd-tr 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.20s both);
 }
 .rotate-hor-center {
       @include animation(rotate-hor-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both);
 }
//    wobbles for the contact page
.shake-tl {
	@include animation(shake-tl 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both);
}
.shake-bottom {
	@include animation(shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.65s both);
}
.flicker-glow {
  @include twoanimations(text-flicker-in-glow 0.5s linear both, glow 2s ease-in-out infinite 0.5s alternate);
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d6edff, 0 0 40px #d6edff, 0 0 50px #d6edff, 0 0 60px #d6edff, 0 0 70px #d6edff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #abcbff, 0 0 40px #abcbff, 0 0 50px #abcbff, 0 0 60px #abcbff, 0 0 70px #abcbff, 0 0 80px #abcbff;
  }
}
// ----------------------------------------------
// Generated by Animista on 2020-4-15 1:32:10
// Licensed under FreeBSD License.
// See http://animista.net/license for more info.
// w: http://animista.net, t: @cssanimista
// ---------------------------------------------- 
// land_left_flip
@keyframes roll-in-left {
  0% {
    @include transform(translateX(-800px) rotate(-540deg));
    opacity: 1;
  }
  100% {
    @include transform(translateX(0) rotate(0deg));
    opacity: 1;
  }
}

// land_right roll in
@keyframes roll-in-right {
  0% {
    @include transform(translateX(800px) rotate(540deg));
    opacity: 1;
  }
  100% {
    @include transform(translateX(0) rotate(0deg));
    opacity: 1;
  }
}

// land_left_flip tilt in
@keyframes tilt-in-tl {
  0% {
    @include transform(rotateY(145deg) rotateX(20deg) translate(750px, -250px) skew(12deg, 15deg));
    opacity: 1;
  }
  100% {
    @include transform(rotateY(180deg) rotateX(0deg) translate(0, 0) skew(0deg, 0deg));
    opacity: 1;
  }
}

// land_left_flip flip after
@keyframes flip-vertical-left {
  0% {
    @include transform(rotateY(0));
  }
  100% {
    @include transform(rotateY(-180deg));
  }
}

// land_right
@keyframes tilt-in-fwd-tr {
  0% {
    @include transform(rotateY(20deg) rotateX(35deg) translate(500px, -300px) skew(-35deg, 10deg));
    opacity: 1;
  }
  100% {
    @include transform(rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg));
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    @include filter (blur(12px));
    opacity: 0;
  }
  100% {
    @include filter (blur(0px));
    opacity: 1;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

// bird swing ins
@keyframes swing-in-top-fwd {
  0% {
    @include transform(rotateX(-100deg));
    @include transform-origin(top);
    opacity: 0;
  }
  100% {
    @include transform(rotateX(0deg));
    @include transform-origin(top);
    opacity: 1;
  }
}

// rotate translate button
@keyframes rotate-hor-center {
  0% {
    @include transform(rotateX(0));
  }
  100% {
    @include transform(rotateX(-360deg));
  }
}
// wobbles for the contact page
@keyframes shake-tl {
  0%,
  100% {
            transform: rotate(270deg);
            transform-origin: 50% 50%;
  }
  10% {
            transform: rotate(272deg);
  }
  20%,
  40%,
  60% {
            transform: rotate(266deg);
  }
  30%,
  50%,
  70% {
            transform: rotate(274deg);
  }
  80% {
            transform: rotate(268deg);
  }
  90% {
            transform: rotate(272deg);
  }
}

@keyframes shake-bottom {
  0%,
  100% {
            transform: rotate(0deg);
            transform-origin: 50% 100%;
  }
  10% {
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
            transform: rotate(4deg);
  }
  80% {
            transform: rotate(-2deg);
  }
  90% {
            transform: rotate(2deg);
  }
}
