---
---
// Already imported
@import "colors";
$mob-pixels: {{ site.breakpoint }};
$verynarrow: {{ site.verynarrow }};
// @import "include-media";

*,*:before,*:after{box-sizing:inherit}

html,body {
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px; 
    border: 0px; 
    padding: 0px; 
    font-size: $body-font-size;
    color: $body-color-text;
    background-color: $body-color;
    height: 100%;
    min-height: 100vh;
    max-width: 100%;
}

img {
	max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  margin: 10px 0;
  font-family: $font-serif;
  //letter-spacing: $serif-spacing;
}

h2,h3,h4,h5,h6 {
  color: $header-colour;
}

h1 {font-size: 1.9rem}
h2 {font-size: 1.5rem}
h3 {font-size: 1.3rem}
h4 {font-size: 1.2rem}
h5 {font-size: 1.1rem}
h6 {font-size: .9rem;}

h1,h2,h3,h4 {
  &.header {
	font-family: $font-serif;
	text-align: center;
        color: $header-colour;
        padding: 10px 30px;
	margin: 0 auto 0;
  }
}

hr {
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin: 20px 0;
}

header {
  padding: 0;
  margin: 0;
}

a {background-color:transparent;color:inherit; outline-width: 0}
a:active,a:hover,a:visited {outline-width:0;text-decoration: none;}

button {
	text-transform: none;
	-webkit-appearance: button;
  &,input {
	overflow: visible;
	font:inherit;
	margin: 0;
  }
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.three-quarter {
  max-width: 75%
}

img.half {
  max-width: 50%
}

.content {
  &.mono {
   font-family: $font-mono;
  }
  &.serif {
    font-family: $font-serif;
    //letter-spacing: $serif-spacing;
  }
}
.footer {
    flex: 1 0 auto;
    color: $nav-color-text;
    font-family: $font-sans;
    font-size: 0.8em;
    padding: 0px 0 5px 0;
    background-color: $color-1-dark;
    text-align: center;
     h3 {
	padding-top: .5em;
        font-family: $font-serif;
	//letter-spacing: $serif-spacing;
	font-size: 2em;
     }
     h6 {
	font-family: $font-sans;
     }
     &.smaller {
	font-size: 0.75em;
     }
}

.diamond-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 5em;
  padding: 5px;
}

.material-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  padding: 5px;
}

.material-cell {
  background: $color-1-dark;
  &-desc {
    padding: 5px;
  }
}

.stickystart { // Ends at alert.html
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.container-alert {
   width: 100%;
   margin: 0 auto;
   background-color: $body-color;
   position: relative;
   margin-bottom: 0;
   height: 100%;
}

.alert {
  text-align: center;
  max-width: $text-width;
  font: {
      family: $font-sans;
      weight: bold;}
  padding: 20px;
  color: $redalert-text-color;
  margin: 0 0 ;
  opacity: 1;
  transition: opacity 0.6s;
  a {
    color: $redalert-link-color;
    font-weight: 800;
    font-family: $font-sans;
  }
  p {
    margin: 0;
  }
}

 .redalert {
  background-color: $redalert-color;
}
 
.greenalert {
  background-color: $greenalert-color;
}

// The alert close button
.closebtn {
  margin: 0 0 0 0;
  align-self: center;
  font-family: $font-sans;
  padding: 0px 20px 0 15px;
  color: white;
  background-color: transparent;
  font-weight: bold;
  font-size: 1em;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  z-index: 100;
    &:hover {
     color: black;
    }
}

/* Helper Function */
$base-parallax-perspective: 8px;

@function parallax-scale-factor($z-distance) {
  @return calc(($base-parallax-perspective - $z-distance) / $base-parallax-perspective);
}

.base-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 40vh;
}

/* Parallax Styles */
.parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: visible;
  overflow-y: visible;
  perspective: $base-parallax-perspective;
  perspective-origin: 0%;
  transform-style: preserve-3d;
}

.image {
  position: absolute;
  transform-origin: 0 50%;
  // width: 420px;
  // height: 420px;
  background: transparent;
  //text-shadow: 2px 2px #f0f0f0;
  text-shadow: 2px 2px #345a92;
  position: -webkit-sticky;
}

.background__image {
  @extend .image;
  transform: translateZ(0px) scale(1);
  // height: 840px;
  width: 100%;
}
.middle__image {
  @extend .image;
  top: 220px;
  transform: translateZ(5px) scale(parallax-scale-factor(5px));
}
.foreground__image {
  @extend .image;
  top: 90px;
  transform: translateZ(2px) scale(parallax-scale-factor(2px));
  z-index: 500;
  color: $header-colour-foreground !important;
}

.base-wrapper2 {
  @extend .base-wrapper;
  height: 10vh;
  width: 99.3vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.center {
	text-align: center;
}

.tri-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
}

.triangle-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 20px solid $body-color;
  margin: -10px 0 0 0;
  z-index: 3;
}

.struggle-grid {
  display: flex;
  // grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.struggle-cell {
  flex: 1 1 0;
  color: white;
  text-align: center;
  margin: 0;
  padding: 25px 0px;
  font-size: 1.3rem;
  width: 100%;
  text-decoration: none;
  &:nth-child(1) {
    background-color: #2c758a;
  }
  &:nth-child(2) {
    background-color: #30668f;
  }
  &:nth-child(3) {
    background-color: #345a92;
  }
  & p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.img_center_no_pad {
    text-align: center;
    margin: 0 auto;
    display: block;
    }

.img_center {
    @extend .img_center_no_pad;
    padding: 15px 0;
  &25 {
    @extend .img_center;
    width: 25%;
  }
  &50 {
    @extend .img_center;
    width: 50%;
  }
  &75 {
    @extend .img_center;
    width: 75%;
  }
  &100 {
    @extend .img_center;
    width: 100%;
  }
}
.img_floatleft {
	@extend .img_center_no_pad;
	float: left;
}

.color-1 {
	background-color: $color-1;
	color: black;
   &-text {
	background-color: $body-color;
	color: $color-1
   }
   &-dark {
	background-color: $color-1-dark;
	color: black;
   }
   &-dark-text {
	background-color: $body-color;
	color: $color-1-dark
   }
   &-light {
	background-color: $color-1-light;
	color: black;
   }
   &-light-text {
	background-color: $body-color;
	color: $color-1-light
   }
}

.color-active {
	background-color: $color-active;
	color: $nav-color-text;
}

main {
   flex: 1 0 auto;
   min-height: auto;
   background-color: $body-color;
   height: 100%;
}

// Toggle switch
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 16px;
  top: 5px;
   input {
     opacity: 0;
     width: 0;
     height: 0;
   }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 2px;
  &:before {
     position: absolute;
     content: "";
     height: 8px;
     width: 8px;
     left: 4px;
     bottom: 3.5px;
     background-color: $header-colour;
     transition: .4s;
   }
}

input {
  &:checked + .slider {
   background-color: $color-active;
      &:before {
        @include transform(translateX(7px));
      }
    }
  &:focus + .slider {
    box-shadow: 0 0 5px #2196F3;
  }
}

// Rounded sliders
.slider.round {
  border-radius: 34px;
  border: 1px dotted #2196F3;
  &:before {
    border-radius: 50%;
  }
}
// Align icons

.down_a {
  &_bit {
     vertical-align: bottom;
    &_more {
        vertical-align: bottom;
        position: relative;
        bottom: -4px;
    }
  }
  &_tad {vertical-align:sub}
}

.bit_left {margin: 0 0 0 -3px}

.container-content {
   width: 100%;
   margin: 0 auto 0;
   background-color: $body-color;
   height: 100%;
   display: flex;
   //justify-content: space-around;
   flex-direction: column;
   max-width: $text-width;
}

.content {  // always on the left if there's media
   padding: 0 66px;
   font-family: $font-sans; 
   font-size:1em;
   text-align:left;
   background-color: $body-color;
   color: $body-color-text;
   margin-bottom: 0;
}
@media screen and (min-width: $mob-pixels) {
  .content {
    //flex: 0 1 $text-width;
  }
  .material-grid,diamond-grid {
    padding: 5px;
  }
  .material-cell {
    & div picture,& div img {
      padding: 10px;
    }
  }
}

@media screen and (max-width: $mob-pixels - 1) {
  .content {
     flex: 0 1 auto;
  }

  .struggle-grid {flex-direction: column;}
}
.media {
   flex: 1 0 400px;
   padding: 0 3px;
  }

.embed-container2,.embed-container-map {
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.embed-container2, .embed-container-map {
	iframe,object,embed {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
	}
}

.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.w3-border{border:1px solid #ccc}
.w3-animate-input{width:50%;transition:width 0.4s ease-in-out}
.w3-animate-input:focus{width:100%}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:background-color .3s}
.w3-button:hover{background-color:$color-active}

// scroll up button
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 599;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $color-1-dark;
  color: black;
  cursor: pointer;
  padding: 6px 10px 0px;
  box-shadow:0 2px 3px 0 rgba(0,0,0,0.2),0 2px 3px 0 rgba(0,0,0,0.19);
  border-radius:5px;
  transition: 0.3s;
   &:hover {
     background-color: $color-1-light;
   }
}
// Media & Container responsiveness
@media screen and (max-width: 800px + 1) {
  .container-content {   
    flex-direction: column;
  }

  .embed-container2 {
	  display: none
  }
  .embed-container1 {
	  display: default;
  }
  .media {
	  padding: 3px;
  }
  .content {
	  padding: 20px;
  }
}

// @include media(">500px") {
@media screen and (min-width: 800px) {
  .media {
     @include sticky;
     align-self: flex-start;
     right: 0;
     top: 100px;
     max-width: 100%;
  }
}
@media screen and (min-width: 500px + 1) {
  .wide-p {
	  display: block;
  }
  .narrow-p {
	  display: none;
  }
}
@media screen and (max-width: 500px) {
  .wide-p {
	  display: none;
  }
  .base-wrapper {
    background-size: contain;
    height: 20vh;
  }
  .middle__image {
    top: 45px;
  }
  .foreground__image {
    top: 10px;
  }
  .narrow-p {
	  display: block;
  }
}
