---
layout: compress
---
{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
{% for sitey in site.data.jcm.live %}
  {% assign site_link = sitey.source %}
  {% assign other_link = sitey.other %}
  {% assign fr_link = sitey.fr %}
  {% assign en_link = sitey.en %}
{% endfor %}
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
 <nav>
   {% include navigation.html %}
   <div class="container-alert">
	   {% comment %}Turn on breadcrumb navigation for certain pages{% endcomment %}
     {% if page.trans == "quebec" %}{% include breadcrumbs.html %}{% endif %}

     {% comment %}Turn alerts on and off using _config.yml, see the README{% endcomment %}
     {% include alert/alertcode.html %}
   </div>
</nav>

{% include header.html %}

<main>
 <br>
<article class="container-content">
	<div class="content">
    {{ content }}
    <br>
</div>
       <!-- Return to top button -->
       <button onclick="topFunction()" onkeypress="topFunction()" aria-label="{% if fr %}Retour en haut{% else %}Return to top{% endif %}" id="myBtn" title="{% if fr %}Retour en haut{% else %}Return to top{% endif %}"><i class="fas fa-angle-up"></i></button>
{% if page.trans == "about" or page.trans == "line-5" or page.trans == "indigenous" or page.trans == "education" or page.trans == "action" or page.trans == "contact" or page.trans == "news" %}
  {% include resources.html %}
   <br />&nbsp; 
  <div class="base-wrapper2 wide-p" style="background-image:url('{{ hero-img }}.webp');">
    <div class="parallax-container">
      <div class="wrapper" >
      </div>
    </div>
  </div>
{% endif %}
</article>
{% if page.trans == "index" %}{% include diamond_grid.html %}{% endif %}
   </main>
   <br />&nbsp; 
   <footer class="footer">
	   {% comment %}For some reason can't include a markdown file as HTML, so the code below translates the markdown into HTML before including. Also note that there is some special footer-header styling in the stylesheet{% endcomment %}
	   {% if page.lang =="fr" %}{% capture bas-de-page %} {% include bas-de-page.md %}{% endcapture %}{{ bas-de-page | markdownify }}{% else %}{% capture footer %} {% include footer.md %}{% endcapture %}{{ footer | markdownify }}{% endif %}
	      </footer>
<script src="/assets/js/navigation.js"></script>   
</body>
</html>
