---
layout: default
---
{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
{% for sitey in site.data.jcm.live %}
  {% assign site_link = sitey.source %}
  {% assign other_link = sitey.other %}
  {% assign fr_link = sitey.fr %}
  {% assign en_link = sitey.en %}
{% endfor %}

{% comment %}All this code is just to assign the date properly in French{% endcomment %}
  {% if fr %}
      {% capture date_cap %} {{ page.date | date: "%-d" }} {% assign m = page.date | date: "%-m" %}
      {% case m %}
        {% when '1' %}janvier {% when '2' %}février {% when '3' %}mars {% when '4' %}avril {% when '5' %}mai {% when '6' %}juin {% when '7' %}juillet {% when '8' %}août {% when '9' %}septembre  {% when '10' %}octobre {% when '11' %}novembre  {% when '12' %}decembre
      {% endcase %}
      {{ page.date | date: "%Y" }}
      {% endcapture %}{% assign datey = date_cap %}
    {% else %} {% comment %}Date in English {% endcomment %}
  {% assign datey = page.date | date: "%B %-d, %Y" %}
  {% endif %}
{% comment %}Below is the actual code creating the posts{% endcomment %}
{% if page.title %}<h1 class="header">{{ page.title }}</h1>{% endif %}
<strong>{{ page.author }} — {{ datey }}</strong>

{{ content }}

{% assign pagetags = "g" %}{% assign pagetags = pagetags | append: page.tags | append: "o" %}
{% unless pagetags == "g[]o" %}<p>Tags: {% for each in page.tags %}{{ each }} {% endfor %}{% endunless %}
<hr>
{% comment %}
  Previous / Next functions
  Assign variables from the entire portfolio collection
{% endcomment %}
{% assign items_raw = site.posts | where: 'lang', page.lang %}
{% if items_raw %}{% assign items = items_raw | sort: 'year' | reverse %}{% endif %}

{% if items.size > 1 %}
  {% comment %}
    Store the index position of the matching items
  {% endcomment %}
  {% for item in items %}
    {% if item.title == page.title %}
      {% assign item_index = forloop.index %}
    {% endif %}
  {% endfor %}

  {% assign prev_index = item_index | plus: 1 %}
  {% assign next_index = item_index | minus: 1 %}

  {% for item in items %}
    {% if forloop.index == prev_index %}
      {% assign prev = item %}
    {% endif %}
    {% if forloop.index == next_index %}
      {% assign next = item %}
    {% endif %}
  {% endfor %}

  <p class=center>
    {% if next %}
    <a href="{{ next.url }}" class="w3-button color-1-dark next" title="{{ next.title }}"><i class="fas fa-angle-left"></i>&nbsp; {% if fr %}Précédant{% else %}Older{% endif %}</a>
    {% endif %}
    {% if prev and next %}
      <span>&nbsp; | &nbsp;</span>
    {% endif %}
    {% if prev %}
      <a href="{{ prev.url }}" class="w3-button color-1-dark prev" title="{{ prev.title }}">{% if fr %}Suivant{% else %}Newer{% endif%}&nbsp; <i class="fas fa-angle-right"></i></a>
    {% endif %}
  </p>
{% endif %}

<p class=center>
  <a class="w3-button color-1-dark" href="/{% if fr %}articles_actions.html{% else %}posts{% endif %}"><i class="fas fa-angle-up"></i>&nbsp; {% if fr %}Retour aux nouvelles{% else %}Back to Updates{% endif %}</a>
</p>
